In [1]:
import pandas as pd

In [55]:
df = pd.read_csv(r"D:\Data_Science\datasets\imdb\IMDb_movies.csv", dtype={'year': str})
df.head(2)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,NaN,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0

In [3]:
df1 = pd.read_csv(r"D:\Data_Science\datasets\imdb\IMDb ratings.csv", dtype={'year': str})
df1.head(2)

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          85855 non-null  object
 1   title                  85855 non-null  object
 2   original_title         85855 non-null  object
 3   year                   85855 non-null  object
 4   date_published         85855 non-null  object
 5   genre                  85855 non-null  object
 6   duration               85855 non-null  int64
 7   country                85791 non-null  object
 8   language               84954 non-null  object
 9   director               85768 non-null  object
 10  writer                 84283 non-null  object
 11  production_company     81400 non-null  object
 12  actors                 85786 non-null  object
 13  description            83740 non-null  object
 14  avg_vote               85855 non-null  float64
 15  votes                  85855 non-null  int64
 16  budget                 23710 non-null  object
 17  usa_gross_income       15326 non-null  object
 18  worlwide_gross_income  31016 non-null  object
 19  metascore              13305 non-null  float64
 20  reviews_from_users     78258 non-null  float64
 21  reviews_from_critics   74058 non-null  float64
dtypes: float64(4), int64(2), object(16)
memory usage: 14.4+ MB

In [70]:
df['genre']=df['genre'].str.split(",").str[0]

In [5]:
g1=df.groupby('genre')
#g1.sum()

In [8]:
#g1[['votes']].min()
g1['votes'].min()

genre
Action         100
Adult          126
Adventure      100
Animation      100
Biography      100
Comedy         100
Crime          100
Documentary    112
Drama           99
Family          99
Fantasy        100
Film-Noir      103
History        102
Horror         100
Music          100
Musical        100
Mystery        100
Romance        100
Sci-Fi         100
Sport          113
Thriller        99
War            100
Western        100
Name: votes, dtype: int64

In [9]:
result = df.groupby('genre').apply(lambda x: x[x['votes'] == x['votes'].min()]).reset_index(drop=True)
result.sample(2)

C:\Users\HP\AppData\Local\Temp\ipykernel_6300\1916878499.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  result = df.groupby('genre').apply(lambda x: x[x['votes'] == x['votes'].min()]).reset_index(drop=True)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
164,tt0079011,Coccodrillo,Agowa gongpo,1978,1978-10-14,Horror,100,"South Korea, Thailand, Italy",Korean,Won-se Lee,...,"Oo Min, In-il Shin, Eun-hie Wang, Am Park",A giant crocodile is terrorizing Thai villager...,3.7,100,NaN,NaN,NaN,NaN,5.0,NaN
135,tt7517232,J'ai perdu Albert,J'ai perdu Albert,2018,2018-09-12,Comedy,100,"France, Belgium",French,Didier Van Cauwelaert,...,"Stéphane Plaza, Julie Ferrier, Josiane Balasko...",Chloe has been living a successful life thanks...,4.1,100,NaN,$ 2354,$ 374952,NaN,1.0,1.0

In [10]:
g1.nth(6)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
14,tt0003102,Ma l'amor mio non muore...,Ma l'amor mio non muore...,1914,1914-01-01,Drama,90,Italy,Italian,Mario Caserini,...,"Lyda Borelli, Mario Bonnard, Gian Paolo Rosmin...","Leslie Swayne, an adventurer, in order to obta...",6.2,100,NaN,NaN,NaN,NaN,NaN,4.0
27,tt0003930,Fantômas contre Fantômas,Fantômas contre Fantômas,1914,1914-01-10,Crime,59,France,French,Louis Feuillade,...,"René Navarre, Georges Melchior, Laurent Morléa...",The mystery of the drama is the appearance of ...,6.9,1161,NaN,NaN,NaN,NaN,5.0,18.0
68,tt0006688,Flirting with Fate,Flirting with Fate,1916,1916-07-09,Adventure,57,USA,English,Christy Cabanne,...,"Douglas Fairbanks, Jewel Carmen, Howard Gaye, ...","In the midst of an emotional depression, a man...",6.4,143,NaN,NaN,NaN,NaN,6.0,3.0
75,tt0006826,Hoodoo Ann,Hoodoo Ann,1916,1916-03-26,Comedy,65,USA,English,Lloyd Ingraham,...,"Mae Marsh, Robert Harron, William H. Brown, Wi...",A little orphan girl believes that her life is...,5.6,837,NaN,NaN,NaN,NaN,12.0,NaN
136,tt0009682,Tarzan of the Apes,Tarzan of the Apes,1918,1918-01-27,Action,73,USA,NaN,Scott Sidney,...,"Elmo Lincoln, Enid Markey, True Boardman, Kath...","Reared by a childless ape, the orphaned heir o...",5.7,684,NaN,$ 3270000,NaN,NaN,14.0,21.0
181,tt0010853,Wagon Tracks,Wagon Tracks,1919,1919-07-29,Western,64,USA,NaN,Lambert Hillyer,...,"William S. Hart, Jane Novak, Robert McKim, Llo...",Buckskin Hamilton guides a wagon train across ...,6.7,152,NaN,NaN,NaN,NaN,7.0,5.0
186,tt0010962,Anna Bolena,Anna Boleyn,1920,1921-04-04,Biography,100,Germany,German,Ernst Lubitsch,...,"Henny Porten, Emil Jannings, Paul Hartmann, Lu...",The story of the ill-fated second wife of the ...,6.6,576,NaN,NaN,NaN,NaN,14.0,13.0
297,tt0013442,Nosferatu - Il vampiro,"Nosferatu, eine Symphonie des Grauens",1922,1922-03-04,Fantasy,94,Germany,German,F.W. Murnau,...,"Max Schreck, Gustav von Wangenheim, Greta Schr...",Vampire Count Orlok expresses interest in a ne...,7.9,86620,NaN,NaN,$ 19054,NaN,419.0,202.0
317,tt0013750,When Knighthood Was in Flower,When Knighthood Was in Flower,1922,1922-09-15,Romance,120,USA,English,Robert G. Vignola,...,"Marion Davies, Forrest Stanley, Lyn Harding, T...","Mary Tudor, sister of England's Henry VIII, ca...",6.3,968,$ 1500000,NaN,NaN,NaN,6.0,4.0
759,tt0020080,The Last Warning,The Last Warning,1928,1928-12-25,Horror,89,USA,English,Paul Leni,...,"Laura La Plante, Montagu Love, Roy D'Arcy, Mar...","A producer decides to reopen a theater, that h...",6.7,441,NaN,NaN,NaN,NaN,9.0,17.0
866,tt0020785,Conspiracy,Conspiracy,1930,1930-08-10,Mystery,69,USA,English,Christy Cabanne,...,"Bessie Love, Ned Sparks, Hugh Trevor, Ivan Leb...",For the last four years Margaret Holt has been...,5.4,104,NaN,NaN,NaN,NaN,6.0,2.0
897,tt0020949,Giorni felici,Happy Days,1929,1930-02-13,Musical,80,USA,English,Benjamin Stoloff,...,"Charles E. Evans, Marjorie White, Richard Keen...","Margie, singer on a showboat, decides to try h...",5.5,121,NaN,NaN,NaN,NaN,9.0,2.0
2382,tt0027624,Rocket Ship,Rocket Ship,1936,1938-03-05,Sci-Fi,72,USA,English,"Ford Beebe, Robert F. Hill",...,"Buster Crabbe, Jean Rogers, Charles Middleton,...","Flash Gordon, Dale Arden and Dr. Alexis Zarkov...",6.7,540,NaN,NaN,NaN,NaN,5.0,2.0
2712,tt0029043,Quando la vita è un romanzo,I'll Take Romance,1937,1937-11-17,Music,90,USA,English,Edward H. Griffith,...,"Grace Moore, Melvyn Douglas, Helen Westley, St...",An opera manager tries to woo a contract-break...,6.0,105,NaN,NaN,NaN,NaN,11.0,1.0
2780,tt0029361,The Outcasts of Poker Flat,The Outcasts of Poker Flat,1937,1937-04-16,History,67,USA,English,Christy Cabanne,...,"Preston Foster, Jean Muir, Van Heflin, Virgini...",A California mining camp is plagued by a serie...,5.9,153,NaN,NaN,NaN,NaN,8.0,4.0
2913,tt0029912,The Big Broadcast of 1938,The Big Broadcast of 1938,1938,1938-03-09,Animation,91,USA,English,"Mitchell Leisen, James P. Hogan",...,"W.C. Fields, Martha Raye, Dorothy Lamour, Shir...",The Bellows family causes comic confusion on a...,6.4,849,NaN,NaN,NaN,NaN,29.0,13.0
3462,tt0032162,Pinocchio,Zolotoy klyuchik,1939,1939-07-01,Family,72,Soviet Union,Russian,Aleksandr Ptushko,...,"Aleksandr Shchagin, Sergey Martinson, Olga Sha...",The adventures of a wooden boy.,6.6,168,NaN,NaN,NaN,NaN,1.0,2.0
3658,tt0032842,Night Train to Munich,Night Train to Munich,1940,1940-07-26,Thriller,95,UK,"English, German",Carol Reed,...,"Margaret Lockwood, Rex Harrison, Paul Henreid,...","After Germany invades Czechoslovakia, the Germ...",7.2,4412,NaN,NaN,NaN,NaN,50.0,35.0
4908,tt0037439,Il volontario,The Volunteer,1944,1944-01-10,War,45,UK,NaN,"Michael Powell, Emeric Pressburger",...,"Ralph Richardson, Pat McGrath, Anna Neagle, La...",After a masterful performance as Othello in a ...,6.0,129,NaN,NaN,NaN,NaN,2.0,2.0
5161,tt0038285,Accomplice,Accomplice,1946,1946-09-29,Film-Noir,68,USA,English,Walter Colmes,...,"Richard Arlen, Veda Ann Borg, Tom Dugan, Archi...",Private Eye Simon Lash is hired by an old flam...,5.4,124,NaN,NaN,NaN,NaN,8.0,5.0
75304,tt4649814,Voin,Voin,2015,2015-10-01,Sport,90,Russia,Russian,Aleksey Andrianov,...,"Mariya Andreeva, Aleksandr Baluev, Fedor Bonda...","Film tells about duty and life values, shown t...",2.0,437,$ 1500000,NaN,$ 3187750,NaN,NaN,13.0

In [11]:
g1.first()
g1.last()
g1.size()

genre
Action         12182
Adult              2
Adventure       3599
Animation       2108
Biography       2067
Comedy         24297
Crime           5557
Documentary        2
Drama          25386
Family           638
Fantasy          502
Film-Noir         29
History           80
Horror          5113
Music             77
Musical          324
Mystery          593
Romance          767
Sci-Fi           417
Sport             16
Thriller        1375
War              107
Western          617
dtype: int64

In [13]:
g1.get_group("Horror").sample(2)
#g1.groups  #give you index position of each genre category in list

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
61439,tt1734067,Atrocious,Atrocious,2010,2012-06-16,Horror,75,"Spain, Mexico",Spanish,Fernando Barreda Luna,...,"Cristian Valencia, Clara Moraleda, Chus Pereir...",Two teenage siblings endure a terrifying exper...,5.0,4735,NaN,NaN,$ 4472,NaN,34.0,82.0
9828,tt0052555,L'amante del vampiro,L'amante del vampiro,1960,1960-05-23,Horror,85,Italy,Italian,Renato Polselli,...,"Hélène Rémy, Tina Gloriani, Walter Brandi, Isa...",A troupe of beautiful young dancers find thems...,5.6,438,NaN,NaN,NaN,NaN,15.0,21.0

In [14]:
g1.describe()

            duration                                                     \
               count        mean        std   min    25%    50%     75%
genre
Action       12182.0  107.124938  27.745693  45.0  90.00   99.0  119.00
Adult            2.0   96.500000   2.121320  95.0  95.75   96.5   97.25
Adventure     3599.0   99.118366  24.743271  45.0  87.00   95.0  106.00
Animation     2108.0   87.363852  17.051194  41.0  78.00   87.0   96.00
Biography     2067.0  113.995646  24.957417  45.0  99.00  110.0  124.00
Comedy       24297.0   97.938799  17.597988  43.0  88.00   95.0  105.00
Crime         5557.0   98.111931  20.573012  45.0  87.00   95.0  107.00
Documentary      2.0   88.500000  17.677670  76.0  82.25   88.5   94.75
Drama        25386.0  102.907508  23.802153  45.0  90.00   99.0  111.00
Family         638.0   93.481191  18.574441  48.0  84.00   90.0   98.00
Fantasy        502.0   95.087649  29.053194  45.0  83.00   91.0  101.00
Film-Noir       29.0   78.551724  17.465448  56.0  65.00   73.0   91.00
History         80.0  109.112500  26.728354  61.0  93.00  102.5  118.50
Horror        5113.0   89.724428  12.637682  45.0  83.00   89.0   95.00
Music           77.0   93.311688  28.892842  46.0  78.00   90.0  102.00
Musical        324.0  107.663580  30.345805  52.0  88.00   98.5  122.00
Mystery        593.0   96.374368  21.237353  53.0  84.00   94.0  107.00
Romance        767.0  107.950456  26.920493  45.0  90.00  102.0  123.00
Sci-Fi         417.0   91.115108  20.256319  42.0  82.00   90.0   97.00
Sport           16.0  105.250000  25.244141  53.0  89.75  103.0  121.50
Thriller      1375.0   96.324364  15.359196  45.0  88.00   93.0  102.00
War            107.0  100.757009  20.921615  45.0  88.50   98.0  109.50
Western        617.0   88.304700  16.734787  50.0  80.00   88.0   97.00

                   avg_vote            ... reviews_from_users           \
               max    count      mean  ...                75%      max
genre                                  ...
Action       421.0  12182.0  5.577409  ...              42.00   8869.0
Adult         98.0      2.0  4.550000  ...              25.50     32.0
Adventure    485.0   3599.0  5.869881  ...              35.00   4100.0
Animation    190.0   2108.0  6.386575  ...              41.00   2898.0
Biography    442.0   2067.0  6.638413  ...              69.75   3367.0
Comedy       298.0  24297.0  5.877100  ...              22.00   7639.0
Crime        540.0   5557.0  6.103743  ...              34.00  10472.0
Documentary  101.0      2.0  7.300000  ...              12.50     16.0
Drama        808.0  25386.0  6.268865  ...              19.00   8232.0
Family       181.0    638.0  5.591693  ...              11.00   1135.0
Fantasy      570.0    502.0  5.353586  ...              41.00   1299.0
Film-Noir    111.0     29.0  6.603448  ...              69.00    475.0
History      205.0     80.0  5.945000  ...              17.25     76.0
Horror       175.0   5113.0  4.607432  ...              41.00   3527.0
Music        221.0     77.0  6.283117  ...              11.00     89.0
Musical      247.0    324.0  6.205247  ...              15.00    418.0
Mystery      180.0    593.0  5.767454  ...              25.00   2278.0
Romance      278.0    767.0  5.954759  ...              12.00    477.0
Sci-Fi       252.0    417.0  4.554436  ...              29.00    899.0
Sport        165.0     16.0  5.475000  ...              14.50    120.0
Thriller     180.0   1375.0  5.174182  ...              13.00    706.0
War          188.0    107.0  6.078505  ...              11.50     88.0
Western      264.0    617.0  5.805673  ...              17.00   1117.0

            reviews_from_critics                                           \
                           count       mean        std   min    25%   50%
genre
Action                   10880.0  40.823070  85.192512   1.0   4.00  10.0
Adult                        2.0  40.000000  42.426407  10.0  25.00  40.0
Adventure                 3176.0  30.511335  68.116629   1.0   3.75   9.0
Animation                 1810.0  42.177348  76.441461   1.0   3.00   9.0
Biography                 1878.0  55.842918  90.191918   1.0   5.00  17.0
Comedy                   19889.0  21.617829  44.077846   1.0   3.00   6.0
Crime                     5073.0  29.605362  55.969414   1.0   4.00  10.0
Documentary                  2.0  11.500000   6.363961   7.0   9.25  11.5
Drama                    21867.0  22.677048  48.157995   1.0   3.00   8.0
Family                     458.0   6.814410  27.816027   1.0   1.00   3.0
Fantasy                    456.0  35.002193  56.699652   1.0   5.00  13.0
Film-Noir                   29.0  34.896552  52.594367   2.0   6.00  12.0
History                     62.0   8.048387   9.551289   1.0   3.00   4.0
Horror                    4886.0  36.251740  58.567206   1.0   7.00  17.0
Music                       61.0   8.147541  16.239700   1.0   2.00   4.0
Musical                    237.0   7.075949  11.316074   1.0   2.00   3.0
Mystery                    526.0  19.431559  39.276627   1.0   3.00   7.0
Romance                    555.0   8.207207  23.037607   1.0   2.00   3.0
Sci-Fi                     380.0  15.213158  30.537996   1.0   3.00   8.0
Sport                       13.0   4.769231   4.763644   1.0   1.00   3.0
Thriller                  1172.0   9.045222  13.740942   1.0   2.00   5.0
War                         72.0   5.902778   8.458948   1.0   1.00   2.0
Western                    574.0   9.015679  15.642318   1.0   2.00   5.0


               75%    max
genre
Action       32.00  909.0
Adult        55.00   70.0
Adventure    25.00  999.0
Animation    39.00  589.0
Biography    64.75  668.0
Comedy       19.00  695.0
Crime        29.00  705.0
Documentary  13.75   16.0
Drama        20.00  838.0
Family        6.00  522.0
Fantasy      40.50  568.0
Film-Noir    39.00  252.0
History       9.75   47.0
Horror       38.00  734.0
Music         8.00  112.0
Musical       7.00  109.0
Mystery      20.00  523.0
Romance       8.00  424.0
Sci-Fi       17.25  394.0
Sport         7.00   13.0
Thriller     11.00  222.0
War           6.25   49.0
Western       9.00  211.0

[23 rows x 48 columns]

In [15]:
g1.nunique()

,imdb_title_id,title,original_title,year,date_published,duration,country,language,director,writer,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
genre,,,,,,,,,,,,,,,,,,,,,
Action,12182,11907,11793,106,7298,205,1021,1110,6647,10122,...,12176,12040,83,5219,1142,2551,4569,92,852,484
Adult,2,2,2,2,2,2,2,2,2,1,...,2,2,2,2,0,0,0,0,2,2
Adventure,3599,3561,3536,109,3084,159,555,468,2616,3369,...,3595,3515,79,1953,575,684,1144,85,373,250
Animation,2108,2102,2100,87,1802,107,408,241,1500,1766,...,2063,2060,74,1469,287,581,1321,77,307,249
Biography,2067,2057,2049,106,1771,146,471,417,1592,1979,...,2066,2009,64,1602,371,767,1168,76,344,287
Comedy,24297,23987,23812,108,11386,160,1178,1405,12859,19651,...,24273,23285,86,6449,1770,4545,9673,96,532,343
Crime,5557,5486,5449,106,4486,141,548,509,3761,5181,...,5555,5500,76,2718,629,1034,1823,89,391,279
Documentary,2,2,2,2,2,2,1,1,2,1,...,2,2,2,2,1,1,1,0,2,2
Drama,25386,24727,24595,110,11844,212,2644,2136,14285,21871,...,25369,24749,88,5700,1938,4096,8864,93,595,395
Family,638,634,635,80,604,92,104,66,534,577,...,637,607,67,382,100,35,167,14,54,34
Fantasy,502,501,501,87,480,96,102,80,474,484,...,500,496,67,433,110,71,141,40,126,115
Film-Noir,29,29,29,15,29,25,2,5,27,28,...,29,29,15,29,5,2,5,2,26,22
History,80,80,80,44,80,48,31,38,76,76,...,80,74,37,74,24,4,23,1,31,22
Horror,5113,4988,4950,94,3626,112,379,239,3745,4482,...,5109,5081,79,2382,537,497,1154,79,409,289
Music,77,77,77,49,77,55,28,21,73,62,...,76,74,40,68,13,8,18,4,23,19
Musical,324,322,321,88,315,105,57,59,279,308,...,324,313,50,244,56,29,54,13,47,34
Mystery,593,590,590,92,571,97,114,83,534,571,...,589,588,62,443,97,43,133,31,107,84
Romance,767,767,766,99,716,119,116,115,691,702,...,767,740,65,491,102,57,218,19,68,45
Sci-Fi,417,415,416,77,394,75,75,42,386,401,...,416,415,62,337,104,18,40,20,81,55
Sport,16,16,16,9,16,15,8,8,16,15,...,16,16,15,16,4,2,7,0,10,6
Thriller,1375,1368,1366,83,1203,99,196,136,1253,1321,...,1375,1345,71,673,179,71,277,48,90,66
War,107,107,107,60,107,55,47,42,99,100,...,107,102,39,92,15,7,9,2,26,20
Western,617,617,614,87,590,81,55,30,356,562,...,617,616,60,407,77,37,18,13,70,49

In [ ]:
g1_sum = g1['usa_gross_income'].sum().sort_values(ascending=False) #errror because usa gross margin is object
print(g1_sum)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          85855 non-null  object
 1   title                  85855 non-null  object
 2   original_title         85855 non-null  object
 3   year                   85855 non-null  object
 4   date_published         85855 non-null  object
 5   genre                  85855 non-null  object
 6   duration               85855 non-null  int64
 7   country                85791 non-null  object
 8   language               84954 non-null  object
 9   director               85768 non-null  object
 10  writer                 84283 non-null  object
 11  production_company     81400 non-null  object
 12  actors                 85786 non-null  object
 13  description            83740 non-null  object
 14  avg_vote               85855 non-null  float64
 15  votes                  85855 non-null  int64
 16  budget                 23710 non-null  object
 17  usa_gross_income       15326 non-null  object
 18  worlwide_gross_income  31016 non-null  object
 19  metascore              13305 non-null  float64
 20  reviews_from_users     78258 non-null  float64
 21  reviews_from_critics   74058 non-null  float64
dtypes: float64(4), int64(2), object(16)
memory usage: 14.4+ MB

In [17]:
g1.agg({'votes':'mean','reviews_from_users':'max','duration':'max'})

                    votes  reviews_from_users  duration
genre
Action       21309.559432              8869.0       421
Adult          689.500000                32.0        98
Adventure    14099.572103              4100.0       485
Animation    22352.414611              2898.0       190
Biography    21488.999516              3367.0       442
Comedy        6435.003251              7639.0       298
Crime        11601.185892             10472.0       540
Documentary    615.500000                16.0       101
Drama         5617.644213              8232.0       808
Family        1824.485893              1135.0       181
Fantasy       6909.609562              1299.0       570
Film-Noir    14085.448276               475.0       111
History        484.762500                76.0       205
Horror        6456.789947              3527.0       175
Music          632.480519                89.0       221
Musical       1377.333333               418.0       247
Mystery      10355.556492              2278.0       180
Romance       1094.749674               477.0       278
Sci-Fi        2901.889688               899.0       252
Sport          373.562500               120.0       165
Thriller       856.371636               706.0       180
War            580.214953                88.0       188
Western       2809.868720              1117.0       264

In [38]:
if 'data1' in globals() or callable(data1) or isinstance(data1,pd.DataFrame):  #callable only work for function else both conditions are good
    del data1
data1=pd.DataFrame(columns=df.columns)
for group,data in g1:
    data1=pd.concat([data1,data[data.votes==data.votes.max()]])
data1[['genre','votes']]

C:\Users\HP\AppData\Local\Temp\ipykernel_6300\377160563.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data1=pd.concat([data1,data[data.votes==data.votes.max()]])

             genre    votes
48078       Action  2241615
16263        Adult     1253
50294    Adventure  1449256
51427    Animation   974734
27629    Biography  1183248
31107       Comedy   910502
28381        Crime  1780147
20189  Documentary     1119
28453        Drama  2278845
20367       Family   362758
33778      Fantasy   323190
6344     Film-Noir   155228
20764      History     2493
18768       Horror   768874
65052        Music    16363
18462      Musical   232940
36475      Mystery  1098879
57571      Romance   240237
55561       Sci-Fi   519061
53140        Sport      704
46047     Thriller   111273
10440          War     6094
12567      Western   672499

In [ ]:

# def func1(data):
#      data['usa_gross_income']=data['usa_gross_income'].str.split().str[1]#.apply(lambda x:x.str.split().str[1])
#     data['usa_gross_income']=data['usa_gross_income'].astype('Int64')
#     print(data['usa_gross_income'].max)
# g1.apply(func1)     #it give whole group to the function

In [71]:
#df['usa_gross_income']=df['usa_gross_income'].str.split().str[1].astype('Int64')
#df['usa_gross_income']=df['usa_gross_income'].fillna(0)
df.groupby('genre')['usa_gross_income'].max()

genre
Action                0
Adult                 0
Adventure             0
Animation             0
Biography             0
Comedy                0
Crime          75395035
Documentary           0
Drama            100184
Family                0
Fantasy               0
Film-Noir             0
History               0
Horror                0
Music                 0
Musical               0
Mystery               0
Romance               0
Sci-Fi                0
Sport                 0
Thriller              0
War                   0
Western               0
Name: usa_gross_income, dtype: Int64

In [61]:
df1.isnull().sum()

imdb_title_id                    0
weighted_average_vote            0
total_votes                      0
mean_vote                        0
median_vote                      0
votes_10                         0
votes_9                          0
votes_8                          0
votes_7                          0
votes_6                          0
votes_5                          0
votes_4                          0
votes_3                          0
votes_2                          0
votes_1                          0
allgenders_0age_avg_vote     52496
allgenders_0age_votes        52496
allgenders_18age_avg_vote      706
allgenders_18age_votes         706
allgenders_30age_avg_vote       10
allgenders_30age_votes          10
allgenders_45age_avg_vote       80
allgenders_45age_votes          80
males_allages_avg_vote           1
males_allages_votes              1
males_0age_avg_vote          58444
males_0age_votes             58444
males_18age_avg_vote          1465
males_18age_votes             1465
males_30age_avg_vote            12
males_30age_votes               12
males_45age_avg_vote           101
males_45age_votes              101
females_allages_avg_vote        81
females_allages_votes           81
females_0age_avg_vote        63738
females_0age_votes           63738
females_18age_avg_vote        6521
females_18age_votes           6521
females_30age_avg_vote         944
females_30age_votes            944
females_45age_avg_vote        2798
females_45age_votes           2798
top1000_voters_rating          679
top1000_voters_votes           679
us_voters_rating               209
us_voters_votes                209
non_us_voters_rating             1
non_us_voters_votes              1
dtype: int64

In [72]:
data1

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
48078,tt0468569,Il cavaliere oscuro,The Dark Knight,2008,2008-07-23,Action,152,"USA, UK","English, Mandarin",Christopher Nolan,...,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",When the menace known as the Joker wreaks havo...,9.0,2241615,$ 185000000,$ 535234033,$ 1005455211,84.0,6938.0,423.0
16263,tt0070696,Dværgen,Dværgen,1973,1974-01-15,Adult,95,Denmark,English,Eduardo Fuller,...,"Anne Sparrow, Tony Eades, Clara Keller, Werner...",Olaf and his mother run a boarding house and a...,4.8,1253,NaN,NaN,NaN,NaN,32.0,70.0
50294,tt0816692,Interstellar,Interstellar,2014,2014-11-06,Adventure,169,"USA, UK, Canada",English,Christopher Nolan,...,"Ellen Burstyn, Matthew McConaughey, Mackenzie ...",A team of explorers travel through a wormhole ...,8.6,1449256,$ 165000000,$ 188020017,$ 696742056,74.0,4100.0,625.0
51427,tt0910970,WALL·E,WALL·E,2008,2008-10-17,Animation,98,USA,English,Andrew Stanton,...,"Ben Burtt, Elissa Knight, Jeff Garlin, Fred Wi...","In the distant future, a small waste-collectin...",8.4,974734,$ 180000000,$ 223808164,$ 521311860,95.0,1287.0,269.0
27629,tt0108052,Schindler's List,Schindler's List,1993,1994-03-11,Biography,195,USA,"English, Hebrew, German, Polish, Latin",Steven Spielberg,...,"Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...","In German-occupied Poland during World War II,...",8.9,1183248,$ 22000000,$ 96898818,$ 322287794,94.0,1845.0,232.0
31107,tt0120382,The Truman Show,The Truman Show,1998,1998-09-10,Comedy,103,USA,English,Peter Weir,...,"Jim Carrey, Laura Linney, Noah Emmerich, Natas...",An insurance salesman discovers his whole life...,8.1,910502,$ 60000000,$ 125618201,$ 264118201,90.0,1165.0,238.0
28381,tt0110912,Pulp Fiction,Pulp Fiction,1994,1994-10-28,Crime,154,USA,"English, Spanish, French",Quentin Tarantino,...,"Tim Roth, Amanda Plummer, Laura Lovelace, John...","The lives of two mob hitmen, a boxer, a gangst...",8.9,1780147,$ 8000000,$ 107928762,$ 222831817,94.0,3058.0,289.0
20189,tt0083193,This Is Elvis,This Is Elvis,1981,1981-08-18,Documentary,101,USA,English,"Malcolm Leo, Andrew Solt",...,"David Scott, Paul Boensch III, Johnny Harra, L...",The life and career of,7.5,1119,$ 5000000,$ 2028612,$ 2028612,NaN,16.0,16.0
28453,tt0111161,Le ali della libertà,The Shawshank Redemption,1994,1995-02-10,Drama,142,USA,English,Frank Darabont,...,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Two imprisoned men bond over a number of years...,9.3,2278845,$ 25000000,$ 28699976,$ 28815245,80.0,8232.0,164.0
20367,tt0083866,E.T. - L'extra-terrestre,E.T. the Extra-Terrestrial,1982,1982-12-07,Family,115,USA,English,Steven Spielberg,...,"Dee Wallace, Henry Thomas, Peter Coyote, Rober...",A troubled child summons the courage to help a...,7.8,362758,$ 10500000,$ 435110554,$ 793482178,91.0,612.0,255.0
33778,tt0162661,Il mistero di Sleepy Hollow,Sleepy Hollow,1999,2000-01-28,Fantasy,105,"Germany, USA","English, Latin",Tim Burton,...,"Johnny Depp, Christina Ricci, Miranda Richards...",Ichabod Crane is sent to Sleepy Hollow to inve...,7.3,323190,$ 100000000,$ 101071502,$ 206071502,65.0,1030.0,240.0
6344,tt0041959,Il terzo uomo,The Third Man,1949,1949-11-30,Film-Noir,104,UK,"English, German, Russian",Carol Reed,...,"Joseph Cotten, Alida Valli, Orson Welles, Trev...",Pulp novelist Holly Martins travels to shadowy...,8.1,155228,NaN,$ 1067364,$ 1225424,97.0,475.0,252.0
20764,tt0085213,Ballando ballando,Le bal,1983,1984-02-17,History,112,"France, Italy, Algeria",NaN,Ettore Scola,...,"Étienne Guichard, Régis Bouquet, Francesco De ...","Dance moves, music and fashion mark the passag...",7.8,2493,NaN,NaN,NaN,NaN,15.0,5.0
18768,tt0078748,Alien,Alien,1979,1979-10-25,Horror,117,"UK, USA",English,Ridley Scott,...,"Tom Skerritt, Sigourney Weaver, Veronica Cartw...",After a space merchant vessel receives an unkn...,8.4,768874,$ 11000000,$ 81765459,$ 108110316,89.0,1448.0,464.0
65052,tt2172935,Metallica Through the Never,Metallica Through the Never,2013,2013-10-04,Music,93,USA,English,Nimród Antal,...,"Dane DeHaan, James Hetfield, Lars Ulrich, Kirk...","Trip, a young roadie for Metallica, is sent on...",7.2,16363,$ 18000000,$ 3419967,$ 7975812,61.0,69.0,112.0
18462,tt0077631,Grease - Brillantina,Grease,1978,1978-08-30,Musical,110,USA,English,Randal Kleiser,...,"John Travolta, Olivia Newton-John, Stockard Ch...",Good girl Sandy Olsson (,7.2,232940,$ 6000000,$ 190071103,$ 397217505,70.0,418.0,109.0
36475,tt0209144,Memento,Memento,2000,2001-01-19,Mystery,113,USA,English,Christopher Nolan,...,"Guy Pearce, Carrie-Anne Moss, Joe Pantoliano, ...",A man with short-term memory loss attempts to ...,8.4,1098879,$ 9000000,$ 25544867,$ 39970386,80.0,2278.0,213.0
57571,tt1385826,I guardiani del destino,The Adjustment Bureau,2011,2011-06-17,Romance,106,USA,English,George Nolfi,...,"Matt Damon, Emily Blunt, Lisa Thoreson, Floren...",The affair between a politician and a contempo...,7.0,240237,$ 50200000,$ 62495645,$ 127869379,60.0,477.0,424.0
55561,tt1219289,Limitless,Limitless,2011,2011-04-15,Sci-Fi,105,USA,"English, Russian, Italian, Mandarin, French",Neil Burger,...,"Bradley Cooper, Robert De Niro, Abbie Cornish,...",With the help of a mysterious pill that enable...,7.4,519061,$ 27000000,$ 79249455,$ 161849455,59.0,488.0,394.0
53140,tt10530392,Penalty,Penalty,2019,2019-07-19,Sport,128,India,Hindi,Shubham Singh,...,"Lukram Smil, Kay Kay Menon, Shashank Arora, Ma...",A story of a North-east Indian football player...,5.6,704,NaN,NaN,NaN,NaN,120.0,1.0
46047,tt0421239,Red Eye,Red Eye,2005,2005-10-21,Thriller,85,USA,"English, Russian",Wes Craven,...,"Rachel McAdams, Cillian Murphy, Brian Cox, Lau...",A woman is kidnapped by a stranger on a routin...,6.4,111273,$ 26000000,$ 57891803,$ 96258201,71.0,706.0,222.0
10440,tt0054177,Le petit soldat,Le petit soldat,1963,1970-04-07,War,88,France,French,Jean-Luc Godard,...,"Michel Subor, Anna Karina, Henri-Jacques Huet,...","During the Algerian War, a man and woman from ...",7.2,6094,$ 180000,$ 24296,$ 24296,97.0,29.0,39.0
12567,tt0060196,"Il buono, il brutto, il cattivo","Il buono, il brutto, il cattivo",1966,1966-12-23,Western,161,"Italy, Spain, West Germany",Italian,Sergio Leone,...,"Eli Wallach, Clint Eastwood, Lee Van Cleef, Al...",A bounty hunting scam joins two men in an unea...,8.8,672499,$ 1200000,$ 25100000,$ 25252481,90.0,1117.0,211.0

In [73]:
data2=df.iloc[1:20,:]

In [76]:
pd.concat([data1,data2],keys=['d1','d2']) #ignore_index=True

         imdb_title_id                                              title  \
d1 48078     tt0468569                                Il cavaliere oscuro
   16263     tt0070696                                            Dværgen
   50294     tt0816692                                       Interstellar
   51427     tt0910970                                             WALL·E
   27629     tt0108052                                   Schindler's List
   31107     tt0120382                                    The Truman Show
   28381     tt0110912                                       Pulp Fiction
   20189     tt0083193                                      This Is Elvis
   28453     tt0111161                               Le ali della libertà
   20367     tt0083866                           E.T. - L'extra-terrestre
   33778     tt0162661                        Il mistero di Sleepy Hollow
   6344      tt0041959                                      Il terzo uomo
   20764     tt0085213                                  Ballando ballando
   18768     tt0078748                                              Alien
   65052     tt2172935                        Metallica Through the Never
   18462     tt0077631                               Grease - Brillantina
   36475     tt0209144                                            Memento
   57571     tt1385826                            I guardiani del destino
   55561     tt1219289                                          Limitless
   53140    tt10530392                                            Penalty
   46047     tt0421239                                            Red Eye
   10440     tt0054177                                    Le petit soldat
   12567     tt0060196                    Il buono, il brutto, il cattivo
d2 1         tt0000574                        The Story of the Kelly Gang
   2         tt0001892                                     Den sorte drøm
   3         tt0002101                                          Cleopatra
   4         tt0002130                                          L'Inferno
   5         tt0002199  From the Manger to the Cross; or, Jesus of Naz...
   6         tt0002423                                     Madame DuBarry
   7         tt0002445                                         Quo Vadis?
   8         tt0002452                              Independenta Romaniei
   9         tt0002461                                        Richard III
   10        tt0002646                                           Atlantis
   11        tt0002844              Fantômas - À l'ombre de la guillotine
   12        tt0003014                           Il calvario di una madre
   13        tt0003037                               Juve contre Fantômas
   14        tt0003102                         Ma l'amor mio non muore...
   15        tt0003131                             Maudite soit la guerre
   16        tt0003165                                    Le mort qui tue
   17        tt0003167                                     Amore di madre
   18        tt0003419                               Lo studente di Praga
   19        tt0003471                                   Traffic in Souls

                                             original_title  year  \
d1 48078                                    The Dark Knight  2008
   16263                                            Dværgen  1973
   50294                                       Interstellar  2014
   51427                                             WALL·E  2008
   27629                                   Schindler's List  1993
   31107                                    The Truman Show  1998
   28381                                       Pulp Fiction  1994
   20189                                      This Is Elvis  1981
   28453                           The Shawshank Redemption  1994
   20367                         E.T. the Extra-Terrestrial  1982
   33778                                      Sleepy Hollow  1999
   6344                                       The Third Man  1949
   20764                                             Le bal  1983
   18768                                              Alien  1979
   65052                        Metallica Through the Never  2013
   18462                                             Grease  1978
   36475                                            Memento  2000
   57571                              The Adjustment Bureau  2011
   55561                                          Limitless  2011
   53140                                            Penalty  2019
   46047                                            Red Eye  2005
   10440                                    Le petit soldat  1963
   12567                    Il buono, il brutto, il cattivo  1966
d2 1                            The Story of the Kelly Gang  1906
   2                                         Den sorte drøm  1911
   3                                              Cleopatra  1912
   4                                              L'Inferno  1911
   5      From the Manger to the Cross; or, Jesus of Naz...  1912
   6                                         Madame DuBarry  1919
   7                                             Quo Vadis?  1913
   8                                  Independenta Romaniei  1912
   9                                            Richard III  1912
   10                                              Atlantis  1913
   11                 Fantômas - À l'ombre de la guillotine  1913
   12                                         Ingeborg Holm  1913
   13                                  Juve contre Fantômas  1913
   14                            Ma l'amor mio non muore...  1914
   15                                Maudite soit la guerre  1914
   16                                       Le mort qui tue  1913
   17                                      Home, Sweet Home  1914
   18                                  Der Student von Prag  1913
   19                                      Traffic in Souls  1913

         date_published        genre duration                     country  \
d1 48078     2008-07-23       Action      152                     USA, UK
   16263     1974-01-15        Adult       95                     Denmark
   50294     2014-11-06    Adventure      169             USA, UK, Canada
   51427     2008-10-17    Animation       98                         USA
   27629     1994-03-11    Biography      195                         USA
   31107     1998-09-10       Comedy      103                         USA
   28381     1994-10-28        Crime      154                         USA
   20189     1981-08-18  Documentary      101                         USA
   28453     1995-02-10        Drama      142                         USA
   20367     1982-12-07       Family      115                         USA
   33778     2000-01-28      Fantasy      105                Germany, USA
   6344      1949-11-30    Film-Noir      104                          UK
   20764     1984-02-17      History      112      France, Italy, Algeria
   18768     1979-10-25       Horror      117                     UK, USA
   65052     2013-10-04        Music       93                         USA
   18462     1978-08-30      Musical      110                         USA
   36475     2001-01-19      Mystery      113                         USA
   57571     2011-06-17      Romance      106                         USA
   55561     2011-04-15       Sci-Fi      105                         USA
   53140     2019-07-19        Sport      128                       India
   46047     2005-10-21     Thriller       85                         USA
   10440     1970-04-07          War       88                      France
   12567     1966-12-23      Western      161  Italy, Spain, West Germany
d2 1         1906-12-26    Biography       70                   Australia
   2         1911-08-19        Drama       53            Germany, Denmark
   3         1912-11-13        Drama      100                         USA
   4         1911-03-06    Adventure       68                       Italy
   5               1913    Biography       60                         USA
   6         1919-11-26    Biography       85                     Germany
   7         1913-03-01        Drama      120                       Italy
   8         1912-09-01      History      120                     Romania
   9         1912-10-15        Drama       55                 France, USA
   10        1913-12-26        Drama      121                     Denmark
   11        1913-05-12        Crime       54                      France
   12        1915-10-18        Drama       96                      Sweden
   13        1913-09-08        Crime       61                      France
   14        1914-01-01        Drama       90                       Italy
   15        1914-05-01        Drama       50                     Belgium
   16        1913-11-06        Crime       90                      France
   17        1914-05-17        Drama       55                         USA
   18        1913-08-22        Drama       85                     Germany
   19        1913-11-24        Crime       88                         USA

                                             language  \
d1 48078                            English, Mandarin
   16263                                      English
   50294                                      English
   51427                                      English
   27629       English, Hebrew, German, Polish, Latin
   31107                                      English
   28381                     English, Spanish, French
   20189                                      English
   28453                                      English
   20367                                      English
   33778                               English, Latin
   6344                      English, German, Russian
   20764                                          NaN
   18768                                      English
   65052                                      English
   18462                                      English
   36475                                      English
   57571                                      English
   55561  English, Russian, Italian, Mandarin, French
   53140                                        Hindi
   46047                             English, Russian
   10440                                       French
   12567                                      Italian
d2 1                                              NaN
   2                                              NaN
   3                                          English
   4                                          Italian
   5                                          English
   6                                           German
   7                                          Italian
   8                                              NaN
   9                                          English
   10                                          Danish
   11                                          French
   12                                             NaN
   13                                          French
   14                                         Italian
   15                                          French
   16                                          French
   17                                         English
   18                                 German, English
   19                                         English

                                       director  ...  \
d1 48078                      Christopher Nolan  ...
   16263                         Eduardo Fuller  ...
   50294                      Christopher Nolan  ...
   51427                         Andrew Stanton  ...
   27629                       Steven Spielberg  ...
   31107                             Peter Weir  ...
   28381                      Quentin Tarantino  ...
   20189               Malcolm Leo, Andrew Solt  ...
   28453                         Frank Darabont  ...
   20367                       Steven Spielberg  ...
   33778                             Tim Burton  ...
   6344                              Carol Reed  ...
   20764                           Ettore Scola  ...
   18768                           Ridley Scott  ...
   65052                           Nimród Antal  ...
   18462                         Randal Kleiser  ...
   36475                      Christopher Nolan  ...
   57571                           George Nolfi  ...
   55561                            Neil Burger  ...
   53140                          Shubham Singh  ...
   46047                             Wes Craven  ...
   10440                        Jean-Luc Godard  ...
   12567                           Sergio Leone  ...
d2 1                               Charles Tait  ...
   2                                  Urban Gad  ...
   3                         Charles L. Gaskill  ...
   4        Francesco Bertolini, Adolfo Padovan  ...
   5                              Sidney Olcott  ...
   6                             Ernst Lubitsch  ...
   7                            Enrico Guazzoni  ...
   8      Aristide Demetriade, Grigore Brezeanu  ...
   9               André Calmettes, James Keane  ...
   10                               August Blom  ...
   11                           Louis Feuillade  ...
   12                           Victor Sjöström  ...
   13                           Louis Feuillade  ...
   14                            Mario Caserini  ...
   15                             Alfred Machin  ...
   16                           Louis Feuillade  ...
   17                             D.W. Griffith  ...
   18                 Paul Wegener, Stellan Rye  ...
   19                       George Loane Tucker  ...

                                                     actors  \
d1 48078  Christian Bale, Heath Ledger, Aaron Eckhart, M...
   16263  Anne Sparrow, Tony Eades, Clara Keller, Werner...
   50294  Ellen Burstyn, Matthew McConaughey, Mackenzie ...
   51427  Ben Burtt, Elissa Knight, Jeff Garlin, Fred Wi...
   27629  Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...
   31107  Jim Carrey, Laura Linney, Noah Emmerich, Natas...
   28381  Tim Roth, Amanda Plummer, Laura Lovelace, John...
   20189  David Scott, Paul Boensch III, Johnny Harra, L...
   28453  Tim Robbins, Morgan Freeman, Bob Gunton, Willi...
   20367  Dee Wallace, Henry Thomas, Peter Coyote, Rober...
   33778  Johnny Depp, Christina Ricci, Miranda Richards...
   6344   Joseph Cotten, Alida Valli, Orson Welles, Trev...
   20764  Étienne Guichard, Régis Bouquet, Francesco De ...
   18768  Tom Skerritt, Sigourney Weaver, Veronica Cartw...
   65052  Dane DeHaan, James Hetfield, Lars Ulrich, Kirk...
   18462  John Travolta, Olivia Newton-John, Stockard Ch...
   36475  Guy Pearce, Carrie-Anne Moss, Joe Pantoliano, ...
   57571  Matt Damon, Emily Blunt, Lisa Thoreson, Floren...
   55561  Bradley Cooper, Robert De Niro, Abbie Cornish,...
   53140  Lukram Smil, Kay Kay Menon, Shashank Arora, Ma...
   46047  Rachel McAdams, Cillian Murphy, Brian Cox, Lau...
   10440  Michel Subor, Anna Karina, Henri-Jacques Huet,...
   12567  Eli Wallach, Clint Eastwood, Lee Van Cleef, Al...
d2 1      Elizabeth Tait, John Tait, Norman Campbell, Be...
   2      Asta Nielsen, Valdemar Psilander, Gunnar Helse...
   3      Helen Gardner, Pearl Sindelar, Miss Fielding, ...
   4      Salvatore Papa, Arturo Pirovano, Giuseppe de L...
   5      R. Henderson Bland, Percy Dyer, Gene Gauntier,...
   6      Pola Negri, Emil Jannings, Harry Liedtke, Edua...
   7      Amleto Novelli, Gustavo Serena, Carlo Cattaneo...
   8      Aristide Demetriade, Constanta Demetriade, Con...
   9      Robert Gemp, Frederick Warde, Albert Gardner, ...
   10     Olaf Fønss, Ida Orloff, Ebba Thomsen, Carl Lau...
   11     René Navarre, Edmund Breon, Georges Melchior, ...
   12     Hilda Borgström, Aron Lindgren, Erik Lindholm,...
   13     René Navarre, Edmund Breon, Georges Melchior, ...
   14     Lyda Borelli, Mario Bonnard, Gian Paolo Rosmin...
   15     Baert, Suzanne Berni, Fernand Crommelynck, Nad...
   16     René Navarre, Edmund Breon, Georges Melchior, ...
   17     Henry B. Walthall, Josephine Crowell, Lillian ...
   18     Paul Wegener, Grete Berger, Lyda Salmonova, Jo...
   19     Jane Gail, Ethel Grandin, William H. Turner, M...

                                                description avg_vote    votes  \
d1 48078  When the menace known as the Joker wreaks havo...      9.0  2241615
   16263  Olaf and his mother run a boarding house and a...      4.8     1253
   50294  A team of explorers travel through a wormhole ...      8.6  1449256
   51427  In the distant future, a small waste-collectin...      8.4   974734
   27629  In German-occupied Poland during World War II,...      8.9  1183248
   31107  An insurance salesman discovers his whole life...      8.1   910502
   28381  The lives of two mob hitmen, a boxer, a gangst...      8.9  1780147
   20189                             The life and career of      7.5     1119
   28453  Two imprisoned men bond over a number of years...      9.3  2278845
   20367  A troubled child summons the courage to help a...      7.8   362758
   33778  Ichabod Crane is sent to Sleepy Hollow to inve...      7.3   323190
   6344   Pulp novelist Holly Martins travels to shadowy...      8.1   155228
   20764  Dance moves, music and fashion mark the passag...      7.8     2493
   18768  After a space merchant vessel receives an unkn...      8.4   768874
   65052  Trip, a young roadie for Metallica, is sent on...      7.2    16363
   18462                           Good girl Sandy Olsson (      7.2   232940
   36475  A man with short-term memory loss attempts to ...      8.4  1098879
   57571  The affair between a politician and a contempo...      7.0   240237
   55561  With the help of a mysterious pill that enable...      7.4   519061
   53140  A story of a North-east Indian football player...      5.6      704
   46047  A woman is kidnapped by a stranger on a routin...      6.4   111273
   10440  During the Algerian War, a man and woman from ...      7.2     6094
   12567  A bounty hunting scam joins two men in an unea...      8.8   672499
d2 1      True story of notorious Australian outlaw Ned ...      6.1      589
   2      Two men of high rank are both wooing the beaut...      5.8      188
   3      The fabled queen of Egypt's affair with Roman ...      5.2      446
   4      Loosely adapted from Dante's Divine Comedy and...      7.0     2237
   5      An account of the life of Jesus Christ, based ...      5.7      484
   6      The story of Madame DuBarry, the mistress of L...      6.8      753
   7      An epic Italian film "Quo Vadis" influenced ma...      6.2      273
   8      The movie depicts the Romanian War of Independ...      6.7      198
   9      Richard of Gloucester uses manipulation and mu...      5.5      225
   10     After Dr. Friedrich's wife becomes mentally un...      6.6      331
   11     Inspector Juve is tasked to investigate and ca...      7.0     1944
   12     Single mother is separated from her children d...      7.1      948
   13     In Part Two of Louis Feuillade's 5 1/2-hour ep...      7.0     1349
   14     Leslie Swayne, an adventurer, in order to obta...      6.2      100
   15     An army pilot is on a visit at the home of ano...      6.5      124
   16     After a body disappears from inside the prison...      7.0     1050
   17     John Howard Payne at his most miserable point ...      5.8      187
   18     Balduin, a student of Prague, leaves his royst...      6.5     1768
   19     A woman, with the aid of her police officer sw...      6.0      552

               budget usa_gross_income worlwide_gross_income metascore  \
d1 48078  $ 185000000      $ 535234033          $ 1005455211      84.0
   16263          NaN              NaN                   NaN       NaN

In [84]:
data2.drop(data2.columns[[2,3,4,5,6,7]],axis=1,inplace=True)
data2.drop(index=[11,12,13,14,15,16,17,18,19],inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_6300\2992923716.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.drop(data2.columns[[2,3,4,5,6,7]],axis=1,inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_6300\2992923716.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.drop(index=[11,12,13,14,15,16,17,18,19],inplace=True)

In [92]:
data2.drop(data2.columns[[5]],axis=1,inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_6300\2762919913.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.drop(data2.columns[[5]],axis=1,inplace=True)

In [93]:
data2

,imdb_title_id,title,language,director,writer,avg_vote,votes,budget
1,tt0000574,The Story of the Kelly Gang,NaN,Charles Tait,Charles Tait,6.1,589,$ 2250
2,tt0001892,Den sorte drøm,NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",5.8,188,NaN
3,tt0002101,Cleopatra,English,Charles L. Gaskill,Victorien Sardou,5.2,446,$ 45000
4,tt0002130,L'Inferno,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,7.0,2237,NaN
5,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...",English,Sidney Olcott,Gene Gauntier,5.7,484,NaN
6,tt0002423,Madame DuBarry,German,Ernst Lubitsch,"Norbert Falk, Hanns Kräly",6.8,753,NaN
7,tt0002445,Quo Vadis?,Italian,Enrico Guazzoni,"Henryk Sienkiewicz, Enrico Guazzoni",6.2,273,ITL 45000
8,tt0002452,Independenta Romaniei,NaN,"Aristide Demetriade, Grigore Brezeanu","Aristide Demetriade, Petre Liciu",6.7,198,ROL 400000
9,tt0002461,Richard III,English,"André Calmettes, James Keane","James Keane, William Shakespeare",5.5,225,$ 30000
10,tt0002646,Atlantis,Danish,August Blom,"Axel Garde, Gerhart Hauptmann",6.6,331,NaN

In [101]:
data1.merge(data2,how='inner',on='language').shape
#data2.merge(data1,how='inner',on='language').shape
data2.merge(data1,how='left',on='language').shape
data2.merge(data1,how='right',on='language').shape
#self join( how='' left_on= right_on=)

(41, 29)

In [104]:
import numpy as np
import re
# np.intersect1d(series1,series2)
h=dir(np)
for k in h:
    if re.findall(r"(\dd)",k):
        print(k)

atleast_1d
atleast_2d
atleast_3d
ediff1d
histogram2d
in1d
intersect1d
poly1d
rad2deg
setdiff1d
setxor1d
union1d

In [ ]:
def func2(data):
    return data
result=g1.apply(func2).reset_index(drop=True)
result